@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}

.card-one {
  background-image: url("../img/placeholder-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-second {
  background-image: url("../img/placeholder-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-third {
  background-image: url("../img/placeholder-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}